.session-modal-container .modal-backdrop {
    z-index: 100;
  }
  .session-modal-container .session-dialog {
    z-index: 999999;
  }
  .session-modal-container .modal-dialog {
    margin: 30vh auto;
  }

  .d-flex{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.date-flex{
  display: flex;
  font-size: 0.7rem;
  justify-content: end;
  color: #3A9BE5;
  background-color: blue;
}