<ion-content color="primary" class="forgot-password">
  <div class="logo-topo">
    <img src="assets/images/logo.svg" />
  </div>

  <div class=" ion-padding">
    <ion-text class="ion-text-center" color="secondary">
      <h6 class="title-card">
        Esqueceu sua senha ? Informe seu e-mail !
      </h6>
    </ion-text>

    <div class="form-login">
      <form [formGroup]="formGroup" (ngSubmit)="login()" novalidate>
        <input-form type="email" label="e-mail" name="email" [submitted]="submitted" [formGroup]="formGroup">
        </input-form>

        <div class="item-button" lines="none">
          <ion-button type="submit" [disabled]="loading" color="secondary" shape="round" expand="full">
            <b>Enviar</b>
            <ion-spinner *ngIf="loading" slot="end"></ion-spinner>
          </ion-button>

          <ion-button class="ion-margin-top" color="secondary" shape="round" expand="full" (click)="back()">
            Voltar
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>