.tab2{
    font-family: Gilroy-Medium !important;
    ion-label{
    font-family: Gilroy-Medium !important;

    }
    h2{
        font-family: Gilroy-SemiBold;
    }
    ion-item{
        --padding-start:0px !important;
    }
}