<ion-content>
  <ion-row >
    <ion-col class="bg-title">
      <ion-item> 
        <ion-title >
          Notificações
        </ion-title>
      </ion-item>
    </ion-col>
  </ion-row>

    <ion-list *ngFor = "let item of list">
      <ion-item>
        <ion-label (click) = "updateStatus(item)">
          <span class="ion-text-nowrap">Mensagem:</span>  <h4>{{item.message}}</h4>
          <h2 class="ion-text-nowrap">Criado em:  {{item.createdAt | date:'short'}}</h2>
          <span class="ion-hide"> {{item.read}}</span>
            
            
        </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

