.label-list{
    margin-left: 10px;
}
.date-flex{
    display: flex;
    font-size: 0.7rem;
    color: #3A9BE5;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.message-text{
    font-size: 0.9rem;
    text-overflow: ellipsis;

}
.list-md{
    padding: 0 !important;
}

.cor{
    background-color: red;
}
